html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
.board-wrap {
  border: 3px solid violet;
}
ol {
  display: flex;
  margin: 0;
  padding: 0;
}
ol li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
ol li span {
  position: absolute;
  left: 5px;
  top: 5px;
}
ol li:nth-of-type(2n) {
  background-color: #000;
  color: #fff;
}
ol:nth-of-type(2n) li {
  filter: invert(1);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

.haraho-chess-wrap * {
  font-family: "Roboto Mono", monospace;
}
